{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: 100vh;
    background-image: url(images/headerponyo.gif);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s ease;
}

.header-content {
    margin-bottom: 150px;
    color: black;
    text-align: center;
    font-size: 4vmin;
}

.header content h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}

.navbar {
    display: flex;
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.navbar a {
    color: whitesmoke;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    width: 50px;
    color: ghostwhite;
    font-size: 16px;
    background-color: rgb(128, 128, 128);
    border: 0;
    border-radius: 20px;
    outline: none;
}

ul {
    list-style: none;
}

.links {
    display: flex;
    align-items: center;
}

.links li {
    margin: 0 30px;
}
.description h3 {
    color: ghostwhite;
    font-family: 'Rubik Bubbles', cursive;
    font-size: 200px;
    margin: 0 5px;
    width: 50%;
    float: left;
}
.description p {
    color: ghostwhite;
    font-family: 'Noto Sans Japanese', sans-serif;
    font-size: 18px;
    text-emphasis-position: right;
    padding-top: 20px;
    padding-right: 300px;
    width: 30%;
    float: left;
}

.description p0 {
    color: ghostwhite;
    font-family: 'Peralta', sans-serif;
    font-size: 18px;
    padding-top: 0;
    padding-right: 300px;
    width: 30%;
    float: left;
}
.description p4 {
    color: rosybrown;
    font-family: 'Peralta', sans-serif;
    font-size: 18px;
    padding-top: 20px;
    padding-right: 300px;
    width: 30%;
    float: left;
}
.description p5 {
    color: burlywood;
    font-family: 'Peralta', sans-serif;
    font-size: 18px;
    padding-top: 20px;
    padding-right: 250px;
    padding-bottom: 100px;
    width: 30%;
    float: left;
}

.description p6{
    clear:both;
    color: ghostwhite;
    font-size: 20px;
    line-height: 15px;
    text-align: justify;
    letter-spacing: 2px;
    padding-left: 10px;
    padding-right:70px;
    letter-spacing: 2px;
    line-height: 25px;
    display: flex;
    flex-wrap: wrap;
}

.line {
    width: 95%;
    background-color: whitesmoke;
    height: 4px;
    background-color: azure;
    margin-top: 25px;
    border-radius: 5px;
}
.light h4{
    font-family: 'Playfair Display', serif;
  font-size: 30px;
    letter-spacing: 10px;
    margin-left: 30px;
    color: azure;
    width: 50%;
    line-height: 10px;
    float: left;
}
.gallery{
    clear: left;
}
.gallery {
    display: flex;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.gallery img {
    width: 400px;
    height: 300px;
    border: 2px solid #000;
    border-radius: 13px;
    box-shadow: 4px 7px 7px 0px #00000042;
    cursor: pointer;
    margin: 10px;
    transition: 400ms;
}

.gallery img:hover {
    filter: contrast(2);
    transform: scale(1.03); /* Added a semicolon here */
}